#upper{
    text-align: center;
    background-color: navy;
    color: white;
    font-size: 100px;
}
#middle{
    text-align: center;
    font-size: 40px;
    color:navy
}
#w{
    image-resolution: 1000 x 600px;
}